sudo: required

language: php

stages:
  - pre-conditions
  - test
  - quality

################
#  Test stage  #
################

php:
  - 7.2
  - 7.3
  - 7.4

env:
  - COMMAND="composer install --no-interaction"
  - COMMAND="composer update --no-interaction"

before_script:
  - pecl install krb5
  - sudo apt-get install stunnel4 apache2
  - mkdir /tmp/testdisk; sudo mount -t tmpfs -o size=100k tmpfs /tmp/testdisk; sudo chmod -R 777 /tmp/testdisk
  - phpenv config-add tests/files/myphp.ini
  - ${COMMAND} --no-interaction
  - sudo stunnel4 tests/files/stunnel.conf
  - php -S localhost:8080 &
  - export WEBPID=$!

script:
  - php vendor/bin/phpunit --no-coverage

after_success:
  - sudo umount /tmp/testdisk; rm -rf /tmp/testdisk
  - kill -kill $WEBPID

jobs:
  fast_finish: true

  allow_failures:
    - php: 7.3
      env: Security check (composer install)
    - php: 7.3
      env: Security check (composer update)
    - php: 7.3
      env: Psalm
    - php: 7.3
      env: PHP Codesniffer

  include:

    ##########################
    #  Pre-conditions stage  #
    ##########################

    - stage: pre-conditions
      env: Syntax check PHP
      php: 7.2
      before_script:
        - composer install --ignore-platform-reqs
      script:
        - vendor/bin/check-syntax-php.sh

    - stage: pre-conditions
      env: Syntax check PHP
      php: 7.3
      before_script:
        - composer install --ignore-platform-reqs
      script:
        - vendor/bin/check-syntax-php.sh

    - stage: pre-conditions
      env: Syntax check PHP
      php: 7.4
      before_script:
        - composer install --ignore-platform-reqs
      script:
        - vendor/bin/check-syntax-php.sh

    - stage: pre-conditions
      env: Syntax check YAML / XML / JSON
      before_script:
        - composer install --ignore-platform-reqs
      script:
        - vendor/simplesamlphp/simplesamlphp-test-framework/bin/check-syntax-json.sh
        - vendor/simplesamlphp/simplesamlphp-test-framework/bin/check-syntax-xml.sh
        - vendor/simplesamlphp/simplesamlphp-test-framework/bin/check-syntax-yaml.sh

    ###################
    #  Quality stage  #
    ###################

    - stage: quality
      php: 7.3
      env: Security check (composer install)
      before_script:
        - composer update --ignore-platform-reqs
      script:
        - vendor/bin/security-checker security:check

    - stage: quality
      php: 7.3
      env: Security check (composer update)
      before_script:
        - composer update --ignore-platform-reqs
      script:
        - vendor/bin/security-checker security:check

    - stage: quality
      php: 7.3
      env: Codecov
      before_script:
        - pecl install krb5
        - sudo apt-get install stunnel4 apache2
        - mkdir /tmp/testdisk; sudo mount -t tmpfs -o size=100k tmpfs /tmp/testdisk; sudo chmod -R 777 /tmp/testdisk
        - phpenv config-add tests/files/myphp.ini
        - composer update --ignore-platform-reqs
        - sudo stunnel4 tests/files/stunnel.conf
        - php -S localhost:8080 &
        - export WEBPID=$!
      script:
        - php vendor/bin/phpunit
        - bash <(curl -s https://codecov.io/bash)

    - stage: quality
      php: 7.3
      env: Psalm
      before_script:
        - composer update --ignore-platform-reqs
      script:
        - vendor/bin/psalm
        - vendor/bin/psalter --issues=UnnecessaryVarAnnotation --dry-run

    - stage: quality
      php: 7.3
      env: PHP Codesniffer
      before_script:
        - composer update --ignore-platform-reqs
      script:
        - vendor/bin/phpcs
