.pure-table {
    font-size: 8pt;
}

.pure-table thead {
    border-bottom: 1px solid lightgrey;
    background-color: transparent;
}

.pure-table thead tr th {
    font-weight: bold;
}

.pure-table thead tr:first-child {
    background-color: darkred;
    background: linear-gradient(141deg, #b8002c 0%, #db0100 51%, #e8410c 75%) !important;
    font-size: 9pt;
    font-weight: bold;
}
