.pure-table {
    font-size: 8pt;
    width: 100%;
    text-indent: 6px;
}

.pure-table thead {
    border-bottom: 1px solid lightgrey;
    background-color: transparent;
}

.pure-table thead tr th {
    font-weight: bold;
}

.pure-table thead tr:first-child {
    height: 25px;
    vertical-align: middle;
    background-color: darkred;
    background: linear-gradient(141deg, #b8002c 0%, #db0100 51%, #e8410c 75%) !important;
    font-weight: bold;
    color: rgb(248, 248, 248);
}
